<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Mode" value="Release" xdt:Transform="Insert"/>
  </appSettings>
  <connectionStrings>
    <add name="AzureStorage" xdt:Transform="Insert"  connectionString="DefaultEndpointsProtocol=https;AccountName=rmy;AccountKey=tbzmpCx2XGGydwdsdP9F4v3Gqq7+T+qr5fPNboDmO67Bk2yGaN7YNARexE5yKHfTmAu2R1QgR8SIahv0BjrVBQ=="/>
  </connectionStrings>
</configuration>